---
Title: Article 
permalink: 
---



{% include header.html %}
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
<div class="clearfix">
<ul id="main" style="width:600px; margin-right:100px;">
 <h2>Atlanta</h2>
 
<p>Get certified training on AESPcLink</br></br>

February 6, 2014: Workshop - Get certified training on AESPcLink! Learn how to successfully file your Electronic Export Information (EEI) via the Windows-based desktop PC component, AESPcLink. The workshop is half day and you can choose between two sessions: 8:00am - 11:30am or 1:00pm -4:30pm.</br></br>

Highlights include:</br>
Mandatory filing requirements</br>
How to avoid common penalties and seizure of cargo</br>
Best practices for maintaining compliance with export regulations</br>
BIS export control requirements</br>
Overview of Export Control Classification Numbers (ECCN)</br>
How to classify your product</br></br>

Who should attend?</br>
All those involved in the export process: Freight Forwarders, Exporting Carriers, Consolidators, U.S. Customs Brokers, U.S. Principal Parties in Interest including Manufactures and Suppliers.</br></br>

Event details:</br>
Seminar: February 5, 2014</br>
8:30 am – 5:00 pm</br>
Registration: 8:00 am</br>
Breakfast and Lunch included. Please email hannah.kamenetsky@trade.gov with dietary restrictions. Workshop fee does not include meals.</br></br>

Cost $240</br>
To register Click Here!  <a style="color:#2da5da"href="https://emenuapps.ita.doc.gov/ePublic/event/editWebReg.do?SmartCode=4Q1R">https://emenuapps.ita.doc.gov/ePublic/event/editWebReg.do?SmartCode=4Q1R</a></br></br>

***Seminar Qualifies for CES Credits***</br>
Location:</br>
GTRI Research Center</br>
Auditorium First Floor</br>
250 14th Street, NW</br>
Atlanta, Georgia 30318</br></br>

Morning Workshop: February 6, 2014 ***SOLD OUT***</br>
8:00 am – 11:30 am</br>
Cost $75</br>
Please note – you must bring your own laptop for the workshop</br></br>

Afternoon Workshop February 6, 2014</br>
1:00 pm – 4:30pm</br>
Cost $75</br>
Please note – you must bring your own laptop for the workshop</br>
To register Click Here!  <a style="color:#2da5da"href="https://emenuapps.ita.doc.gov/ePublic/event/editWebReg.do?SmartCode=4Q1S">https://emenuapps.ita.doc.gov/ePublic/event/editWebReg.do?SmartCode=4Q1S</a></br></br>

Location:</br>
GTRI Research Center</br>
Room 119C</br>
250 14th Street, NW</br>
Atlanta, Georgia 30318</br></br>

Parking:</br>
Conference center parking is provided free of charge.  However, seminar participants may park ONLY on the 4th – 6th floors of the GTRI parking deck or risk being ticketed by parking enforcement.</br></br>

Public Transit:</br>
1. Ride MARTA to the Arts Center Station, located on West Peachtree Street. The GTRI Headquarters Building/GTRI Conference Center Building can be reached by bus or by foot.</br>
2. To reach the GTRI Conference Center building by bus from the Arts Center Station: After you exit the train, take the stairs, escalator or elevator to the bus level and board the 98 West End/Arts Center bus, which runs directly to the GTRI Headquarters Building on 14th Street. The bus will leave the station, arrive on 14th Street and cross over Interstate 75/85. The GTRI Headquarters Building will be on your left just before the intersection with Westshire Place. The building is large and prominent and next door to Georgia Public Broadcasting. After exiting the bus, cross the street.</br>
3. To reach the GTRI Headquarters Building by foot from the Arts Center Station, after you exit the train, go up one level and exit to West Peachtree Street. Follow the street left (south) one block to the intersection with 14th Street, at which point you will have reached 14th Street. A large skyscraper, Atlantic Center, will be on your left. Crossing West Peachtree, go right (west) on 14th Street, which will be downhill. Keep walking. You will pass over the interstate. The GTRI Headquarters Building will be on your left, just before the intersection with Westshire Place. The building is large and prominent and next door to Georgia Public Broadcasting.</br></br>

Nearby Hotels:</br>
Courtyard Atlanta Midtown/Georgia Tech (0.2 miles)</br>
1132 Techwood Dr NW, Atlanta, GA</br>
(800)321-2211</br>
Hilton Garden Inn/Homewood Suites Atlanta Midtown (0.4 miles)</br>
97 10th St NW, Atlanta, GA</br>
(404)524-4066</br>
Atlanta Marriott Suites Midtown (0.5 miles)</br>
35 14th St NE, Atlanta, GA</br>
(800)228-9290</br></br>

Questions contact:</br>
Hannah Kamenetsky, Commercial Officer</br>
Tel: (404)815-1596 or Hannah.kamenetsky@trade.gov</br>
</p>
</ul>
<ul id="main" style="width:250px"><h3>Related Articles</h3><p><a href="nashville.html">Nashville</p><p><a href="philadelphia.html">Philadelphia</p><p><a href="seattle.html">Seattle</p><p><a href="westchester.html">Westchester</p>

 </div>
 {% include footer.html %}
 
 
 
