---
Title: Article 
permalink: 
---



{% include header.html %}
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
<div class="clearfix">
<ul id="main" style="width:600px; margin-right:100px;">
 <h2>Atlanta</h2>
 
<p>All U.S. goods exported to Israel must be accompanied by a U.S. – Israel Certificate of Origin signed by the exporter. In order to benefit from the provisions of the U.S. – Israel FTA, a special "US Certificate of Origin for Exporting to Israel" must be presented to Israel Customs.</br></br> This Certificate must be official i.e. green in color and purchased from one of the US-Israel Chambers or a printing house. Photocopies will not be accepted.</br></br> The certificate will need to be notarized and stamped by a local American-Israel Chamber of Commerce in the event that the exporter is not the manufacturer. The certificate does not need to be notarized or stamped by an American-Israel Chamber of Commerce if the exporter is also the manufacturer. </br></br>
When the exporter is also the manufacturer, the Certification (box 11) and the Notarization (box 12) sections of the Certificate may be eliminated if the exporter/manufacturer signs this declaration (box 12). If the exporter is not the producer, but the goods qualify under the rules of the FTA, Notarization and Certification may also be avoided by attaching to the certificate the following declarations, prepared on the letterhead of the producing company, signed by an authorized employee of the same, and referring specifically to the shipment described: "The undersigned hereby declares that the goods in the invoice were produced in the United States of America and that they comply with the origin requirements specified for those goods in the U.S.-Israel Free Trade Area Agreement for Goods Exported to Israel."</p>
</ul>
<ul id="main" style="width:250px"><h3>Related Articles</h3><p><a href="/nashville.html">Nashville</p><p><a href="/philadelphia.html">Philadelphia</p><p><a href="/seattle.html">Seattle</p><p><a href="/westchester.html">Westchester</p>

 </div>
 {% include footer.html %}
 
 
 
