---
Title: Guide 
permalink: 
---

<title>Guide</title>
{% include header.html %}
    <div id="main_content_wrap" class="outer">
       <section id="main_content" class="inner">
      
    <center><h1>CE Marking Guide</h1></center></br>

<div class="clearfix">
			<div id="main" style="width:200px; display:inline-block;background:#d9d9d9; padding:20px;">
						<ul id="leftnav_wrapper">

							<li>
								<ul>
								<li><a href="cemarking-home.html">CE Marking - Home</a></li>
								<li><a href="cemarking-program.html">Program Overview</a></li>
								<li><a href="cemarking-countries.html">CE Marking Countries</a></li>
								<li><a href="cemarking-guide.html">CE Marking Guide</a></li>									
								<li><a href="cemarking-labs.html">Testing/Certifying Labs</a></li> 
								<li><a href="cemarking-procedures.html">Technical File Procedures</a></li>  
								 <li><a href="cemarking-declaration.html">Declaration of Conformity</a></li> 
								 <li><a href="cemarking-standards.html">Consultants/Ordering Standards</a></li> 
								 <li><a href="cemarking-faq.html">FAQs</a></li> 
								 <li><a href="cemarking-contacts.html">U.S. Gov't Contacts</a></li>   
								</ul>
							</li>
						</ul>
						</div>
<div id="main" style="width:600px;">
					
The CE marking (an acronym for the French "Conformite Europeenne") certifies that a product has met EU health, safety, and environmental requirements, which ensure consumer safety. Manufacturers in the European Union (EU) and abroad must meet CE marking requirements where applicable in order to market their products in Europe. For a list of countries that require the CE marking, see: CE Marking Countries. A manufacturer who has gone through the conformity assessment process, may affix the CE marking to the product. With the CE marking, the product may be marketed throughout the EU. CE marking now provides product access to 27 countries with a population of nearly 500 million.</br></br>

Unfortunately, there is no comprehensive list of the products that require a CE marking. Therefore, it is the manufacturer's responsibility to determine if a product requires a CE marking. The "New Approach Directives" are documents that contain the legislation issued by the European Commission on the requirements that need to be met and procedures that must be followed in order for a particular product to be CE marked for sales in the EU.</br></br>

If you are unfamiliar with the CE Marking process, we suggest that you read through the Program Overview and call or email the U.S. Government contacts if you have any questions.
      
     </div>
          </div>

</section>
</div>
{% include footer.html %}
