---
Title: Article 
permalink: 
---



{% include header.html %}
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
<div class="clearfix">
<ul id="main" style="width:600px; margin-right:100px;">
 <h2>Nashville</h2>
 <p>Protect Your IP Rights Abroad</br></br>

March 28, 2013</br>
Registration: 8:00 am</br>
Program: 8:30 am - 4:30 pm</br></br>

Belmont University</br>
Frist Lecture Hall</br>
Gordon Inman Ctr.</br>
1900 Belmont Blvd</br></br>

This seminar provides an opportunity to learn the basics of intellectual property rights (IPR) protection and enforcement and to discover the resources that are available to help your business enforce IPR at home and abroad. This dynamic day-long program will feature presentations by intellectual property experts from the U.S. Department of Commerce Office of Intellectual Property Rights and the U.S. Patent and Trademark Office. The program ends with the opportunity to meet one-on-one with these experts.</br></br>

Seminar topics include:</br>
The basics of obtaining intellectual property rights in the United States and internationally</br>
Protecting your patent in the United States and internationally, the Patent Cooperation Treaty, common mistakes to avoid</br>
Trade secrets & best practices</br>
How to obtain and maintain trademarks and copyrights</br>
How to enforce intellectual property rights in the United States and internationally</br>
Remedies for counterfeiting, piracy, and trade secret theft</br></br>

Networking Luncheon:  Enjoy lunch with other export professionals.  Experts and advisors from the U.S. Patent and Trademark Office, the International Trade Administration, and the Nashville U.S. Export Assistance Center will be on hand to discuss what successful exporters and international businesses need to know!</br></br>

Plus: You will have the opportunity to meet One-on-One with expert speakers from the United States Patent and Trademark Office and the International Trade Administration.</br></br>

Please indicate your interest in this opportunity when you register for the seminar.</br>
Registration Fee: $59 (includes lunch)</br>

To Register and Pay On-Line Click Here:  <a style="color:#2da5da"href="https://emenuapps.ita.doc.gov/ePublic/newWebinarRegistration.jsp?SmartCode=3Q5E">https://emenuapps.ita.doc.gov/ePublic/newWebinarRegistration.jsp?SmartCode=3Q5E</a></br>
</p>
</ul>
<ul id="main" style="width:250px"><h3>Related Articles</h3><p><a href="atlanta.html">Atlanta</p><p><a href="philadelphia.html">Philadelphia</p><p><a href="seattle.html">Seattle</p><p><a href="westchester.html">Westchester</p>

 </div>
 {% include footer.html %}
 
 
 
