---
Title: office
permalink: 
---


{% include header.html %}

    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
{% include title %}      
{% include heroboxhome %}
{% include tabsoffice %}
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
<div class="clearfix" >
<ul id="main" style="margin-left:50px;margin-right:175px;"><h4>Export Resources</h4>

 
<ul > 
<li><a href="#">Exporters Resource Database</a></li>
<li><a href="#">International Finance</a></li>
<li><a href="#">Certificate of Origin</a></li>
<li><a href="#">NAFTA</a></li>
<li><a href="#">MN Tourism Destination</a></li>
</ul>
</ul>

<ul id="main" >
{% include eventsoffice %}
</ul>
</div>

<div class="clearfix" >
<ul id="main" style="margin-right:200px;">{% include faqshome %}</ul>
<ul id="main" >
{% include articles2 %}


</br></br>
<h4>Our Global Network at Work</h4>

<ul > 
<li style="color:#212121;">Doing Business in Africa = <a href="#">Learn more about the campaign</a></li>
<li style="color:#212121;">Sign Up for an <a href="#">Up Coming Trade Mission</a></li>
<li style="color:#212121;">See the list of Newly Announced <a href="#">2014 International Buyer Program Trade Shows</a></li>
</ul></ul>
</div>

</section>
</div>
{% include promo %}
{% include socialoffice %}
{% include footer.html %}
