---
Title: Article 
permalink: 
---



{% include header.html %}
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
<div>
 <h2>AUTOMATED EXPORT SYSTEM (AES) SEMINAR AND WORKSHOP</h2>

JUNE 17-18, 2014</br></br>

PHILADELPHIA, PA</br></br>

As of April 5, 2014, new export requirements will be implemented that amend the regulations published in 2008. This export compliance seminar is a one day program, followed by half-day training, bringing together experts from the Department of Commerce to provide training on export filing requirements. All those involved in the export process such as U.S. Principal Parties in Interest including Manufactures and Suppliers, Freight Forwarders, Exporting Carriers, Consolidators, and U.S. Customs Brokers should plan to attend this valuable event.</br></br>

For more information, please click here. <a style="color:#2da5da"href="http://www.export.gov/pennsylvania/philadelphia/upcominglocalevents/aes/index.asp">http://www.export.gov/pennsylvania/philadelphia/upcominglocalevents/aes/index.asp</a></p>

 </div>
  <ul class="tags">
  <li><a href="atlanta.html" class="tag">Get certified training on AESPcLink</a></li>
  <li><a href="nashville.html" class="tag">Protect Your IP Rights Abroad</a></li>
  <li><a href="seattle.html" class="tag">Export Control Training</a></li>
  <li><a href="westchester.html" class="tag">Export Compliance Training</a></li>
</ul>
 {% include footer.html %}
 
 
 
