---
Title: Article 
permalink: 
---



{% include header.html %}
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
<div class="clearfix">
<ul id="main" style="width:600px; margin-right:100px;">
 <h2>Philadelphia</h2>
 <p>AUTOMATED EXPORT SYSTEM (AES) SEMINAR AND WORKSHOP</br></br>

JUNE 17-18, 2014</br></br>

PHILADELPHIA, PA</br></br>

As of April 5, 2014, new export requirements will be implemented that amend the regulations published in 2008. This export compliance seminar is a one day program, followed by half-day training, bringing together experts from the Department of Commerce to provide training on export filing requirements. All those involved in the export process such as U.S. Principal Parties in Interest including Manufactures and Suppliers, Freight Forwarders, Exporting Carriers, Consolidators, and U.S. Customs Brokers should plan to attend this valuable event.</br></br>

For more information, please click here. <a style="color:#2da5da"href="http://www.export.gov/pennsylvania/philadelphia/upcominglocalevents/aes/index.asp">http://www.export.gov/pennsylvania/philadelphia/upcominglocalevents/aes/index.asp</a>
</p>
</ul>
<ul id="main" style="width:250px"><h3>Related Articles</h3><p><a href="atlanta.html">Atlanta</p><p><a href="nashville.html">Nashville</p><p><a href="seattle.html">Seattle</p><p><a href="westchester.html">Westchester</p>

 </div>
 {% include footer.html %}
 
 
 
