---
Title: Article 
permalink: 
---



{% include header.html %}
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
<div>

 <h2>Export Control Training</h2>

Three opportunities for export control training in WA state this year!</br></br>

Please mark your calendar and register for any of these outstanding export control training opportunities coming this year to the Seattle area:</br></br> 

Export Control Reform:  Seattle is one of 5 US locations to host this event.  Please join us for the Export Control Reform, presented by the Bureau of Industry and Security (BIS) and the Pacific Northwest Defense Coalition, on April 17 at the Columbia Center Building in Seattle. Regulatory, compliance, and engineering officers will provide guidance on key ECR elements including Export Administration Regulations (EAR), licensing issues, and "specially designed" and license exceptions such as the Strategic Trade Authorization and International Traffic in Arms Regulations (ITAR) liability. For more information and to register:  <a style="color:#2da5da"href="http://events.r20.constantcontact.com/register/event?oeidk=a07e8wpq1nx53c38148&llr=49ytkqcab">http://events.r20.constantcontact.com/register/event?oeidk=a07e8wpq1nx53c38148&llr=49ytkqcab</a></br></br>

Complying with U.S. Export Controls:  This two-day program will be held June 12-13 at the Holiday Inn at Seattle. Complying with U.S. Export Controls is led by the professional counseling staff at the Bureau of Industry and Security (BIS) and provides an in-depth examination of the Export Administration Regulations (EAR). This seminar will guide you through the step-by-step processes for complying with regulations, verifying your export control classification number (ECCN), determining when a license is necessary to export, and other procedure and record-keeping requirements. Please go to the website: <a style="color:#2da5da"href="http://seattletradealliance.com/blog/?p=9967">http://seattletradealliance.com/blog/?p=9967</a> for more information.</br></br>

Export Controls:  Awareness and Application:  Save the date!  This year we return to a summer program, July 9-10 at Microsoft headquarters. Get the latest updates on export control reform, and discuss recent legal updates and best practices in export compliance. Discover through actual case examples why these export controls are so important and how our nation’s adversaries attempt to violate them. This fast-paced seminar is geared toward both new and experienced export control professionals.</br></br>
</p>
</div>
 <ul class="tags">
  <li><a href="atlanta.html" class="tag">Get certified training on AESPcLink</a></li>
  <li><a href="nashville.html" class="tag">Protect Your IP Rights Abroad</a></li>
  <li><a href="philadelphia.html" class="tag">AUTOMATED EXPORT SYSTEM (AES) SEMINAR AND WORKSHOP</a></li>
  <li><a href="westchester.html" class="tag">Export Compliance Training</a></li>
</ul>
 {% include footer.html %}
 
 
 
