---
Title: Article 
permalink: 
---



{% include header.html %}
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
<div class="clearfix">
<ul id="main" style="width:600px; margin-right:100px;">
 <h2>Westchester</h2>
 <p>Export Compliance Training</br></br>

Presented by Allocca Enterprises in cooperation with the U.S. Commercial Service</br></br>

Date: Wednesday August 28th 8:30am - 4:30p.m.</br>
Location: Holiday Inn Express, 8 Empire Drive,</br></br>

Rensselaer, NY 12144</br>
Did you know the civil penalties for export license violations have been increased from $50,000 to $250,000 per violation and criminal penalties have been increased from 10 years to a 20 year maximum jail sentence? If you are not aware of what the Export Administration Regulations are, or have not monitored changes in the regulations, then this Export Compliance Training is for you.</br></br>

Topics Include:</br>
Due Diligence- knowing your customer/Common red flags</br>
Checking the 7 mandatory denial lists</br>
Security requirements/penalties</br>
Country specific requirements</br>
Export documentation & filing of the EEI</br>
Schedule B classification</br>
NAFTA basics / Wood packaging requirements</br>
Insurance & Record keeping requirements</br></br>

Who should attend? Traffic managers, purchasing managers, plant managers, shipping/receiving personnel, compliance officers, ISO managers, sales managers/department personnel, customer service managers, or anyone that wants to make sure they are fully informed on export compliance.</br></br>

Cost is $195 per person if registered by August 20th.</br>
After August 20th, cost is $250. Price includes all reference material, continental breakfast, and lunch. Seating is limited, reservation and payment required to guarantee seat.</br></br>

To register, go to: <a style="color:#2da5da"href="https://emenuapps.ita.doc.gov/ePublic/event/editWebReg.do?SmartCode=3QAA">https://emenuapps.ita.doc.gov/ePublic/event/editWebReg.do?SmartCode=3QAA</a></br></br>

Questions? Contact:</br>
Allocca Enterprises, Inc.: Mike Allocca at (tel) 803-684-8012, e-mail: admin@alloccaenterprises.com</br>
U.S. Commercial Service: Cathy Gibbons at (tel) 914-682-6712, e-mail: Cathy.Gibbons@trade.gov</br>
</p>
</ul>
<ul id="main" style="width:250px"><h3>Related Articles</h3><p><a href="atlanta.html">Atlanta</p><p><a href="nashville.html">Nashville</p><p><a href="philadelphia.html">Philadelphia</p><p><a href="seattle.html">Seattle</p>

 </div>
 {% include footer.html %}
 
 
 
