


    <div id="footer_wrap2" class="outer">
      <footer class="inner">

<div class="clearfix">

		<ul id="foot">
		<p><strong>Export Process</strong></p>
		<li><a href="/community/users/export-basics">Export Basics</a></li>
		<li><a href="/basic-guide/">Basic Guide to Exporting</a></li>
		<li><a href="/export-readiness-assessment/login">Export Readiness Assessment</a></li>
		<li><a href="/community/users/international-logistics">International Logistics</a></li>
		</ul>

		<ul id="foot">
		<p><strong>Opportunities</strong></p>
		<li id="whi">Conduct Research</li>
		<li><a href="/community/users/expand-your-exports">Expand Into New Markets</a></li>
		<li><a href="/community/users/market-research">Market Research</a></li>
		<li><a href="/community/users/export-success-stories">Success Stories</a></li>
		<li id="whi">Learn Marketing Tactics</li>
		<li><a href="/community/users/international-sales-and-marketing">International Sales & Marketing</a></li>
		<li><a href="/community/users/selling-online">Selling Online</a></li>
		</ul>
				
		<ul id="foot">
		<p></p>
		<li id="whi">Explore Markets</li>
		<li><a href="/community/users/trade-leads">Find Trade Leads</a></li>
		<li><a href="/community/users/trade-missions">Trade Missions</a></li>
		<li><a href="/community/users/free-trade-agreements">Free Trade Agreements</a></li>
		<li><a href="/doing-business-in-africa">Doing Business in Africa</a></li>
		<li id="whi">Explore Programs</li>
		<li><a href="/community/users/civil-nuclear-guide-to-exporting">Civil Nuclear Guide to Exporting</a></li>
		<li><a href="/community/users/environmental-solutions-exporters-portal">Environmental Solutions Exporters</a></li>
		<li><a href="/community/users/renewable-energy-energy-efficiency-exporter-portal">Renewable Energy & Energy Efficiency Exporters</a></li>
		<li><a href="/community/users/league-of-green-embassies">League of Green Embassies</a></li>
		<li><a href="/community/users/minority-exporters-seminar">Minority Exporters Seminar</a></li>
		<li><a href="/community/users/seaport-partnerships">Seaport Partnerships</a></li>
		</ul>

		<ul id="foot">
		<p><strong>Financing</strong></p>
		<li><a href="/community/users/financing-your-exports">Finance Your Exports</a></li>
		<li><a href="/international-finance-questionnaire/">Assess Your Finance Options</a></li>
		<li><a href="/trade-finance-guide">Trade Finance Guide</a></li>
		</ul>

		<ul id="foot">
		<p><strong>Regulations</strong></p>
		<li id="whi">US Export Regulations</li>
		<li><a href="/community/users/export-licenses-regulations">Export Licenses & Regulations</a></li>
		<li><a href="/consolidated-screening-list">Consolidated Screening List</a></li>
		<li id="whi">European Regulations<li>
		<li><a href="/community/users/ce-marking">CE Marking</a></li>
		<li><a href="/safe-harbor">Safe Harbor</a></li>
		</ul>

		<ul id="foot">
		<p><strong>Trade Problems</strong></p>
		<li><a href="/community/users/trade-problems">Help with Trade Problems</a></li>
		</ul>

		<ul id="foot">
		<p><strong>Trade Events</strong></p>
		<li><a href="/trade-events/">Trade Events</a></li>
		<li><a href="/community/users/training-programs">Training & Webinars</a></li>
		</ul>

		<ul id="foot">
		<p><strong>Get Answers</strong></p>
		<li><a href="https://help.export.gov/">Browse FAQs</a></li>
		<li><a href="https://help.export.gov/ics/support/ticketnewwizard.asp?style=classic">Market Research</a></li>
		</ul>

		<ul id="foot">
		<p><strong>Find Answers & Contacts</strong></p>
		<li><a href="https://help.export.gov/ics/support/contactUs.asp">Contact a Trade Specialist</a></li>
		<li><a href="/centers">Domestic Offices</a></li>
		<li><a href="/international-offices">International Offices</a></li>
		<li><a href="/community/users/district-export-councils">District Export Councils</a></li>
		</ul>

  </div>
      </footer>
    </div>  
    
    
    
    
    
    
    
   
    <div id="footer_wrap" class="outer">
      <footer class="inner">

        <p class="copyright"><div id="footerdivider">
<center><div class="footerdivideotitle">www.TRADE.gov</div><br />
<div><p><a href="/feedback.asp">Website Feedback</a> | <a href="http://www.usa.gov">USA.gov</a> | <a href="http://trade.gov/foia">FOIA</a> | <a href="/privacy.asp">Privacy Policy</a> | <a href="/endorse.asp">Disclaimer</a> |
<a href="/ITAiqs.pdf">Information Quality Guidelines</a></p>
</div>
</div></center>
<div class="disclamier">
<p>The <a href="http://www.trade.gov">International Trade Administration</a>, <a href="http://www.commerce.gov">U.S.
Department of Commerce</a>, manages this global trade site to provide access to ITA information on promoting trade and investment, strengthening
the competitiveness of U.S. industry, and ensuring fair trade and compliance with trade laws and agreements. External links to other Internet
sites should not be construed as an endorsement of the views or privacy policies contained therein. This site contains PDF documents.
A <a href="http://get.adobe.com/reader">PDF reader</a> is available from Adobe Systems Incorporated.</p></div>
</div><!--ending Main Div -->
</div><!--ending Inside Wrapper Div -->
</div><!--ending Wrapper Div -->
        </p>
   
      </footer>
    </div>

  </body>
</html>