<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="Office : Trade office template for new Trade.gov" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<!--[if IE]><![endif]-->
<!--[if lt IE 7 ]> <html lang="en" class="ie6">    <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="ie7">    <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="ie8">    <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="ie9">    <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en"><!--<![endif]-->
    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{{ page.title }}</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
          

                    <a id="project_title" href="/office"><img  src="images/ita2.jpg" ></a>
          <p id="project_tagline">A bureau within the <a href="http://www.commerce.gov">U.S. Department of Commerce</a></p>
          
                            <ul id="forkme_banner">
        <li><a href="/office/signin.html">Sign in</a> |</li>
        <li><a href="/office/signin.html">Register</a> |</li>
        <li><a href="http://developer.trade.gov">Developer API</a> </li>
        {% include search %}
        </ul>


            
        </header>
    </div>
{% include nav %}

