
<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;"> {% include events %} </div>
    <div style="margin-left: 620px;">{% include mrr %} </div>
</div>

<div style="width: 100%; overflow: hidden;">
    <div style="width: 600px; float: left;">  {% include faqs %} </div>
    <div style="margin-left: 620px;">{% include articles %} </div>
</div>

<div style="width: 100%; overflow: hidden;">
    <div style="width: 500px; float: left;">   {% include resources %} </div>
    <div style="margin-left: 550px;"> {% include network %} </div>
</div>
    


 