.widget-container {
	background-color: #ffffff;
 	width: 500px;
	border: 1px solid #c1c1c1;
	padding:10px;
	
}

.widget-title {
	font-size: 16pt;
	font-weight:bold;
	font-family: Garamond;
	color: #252525;
	margin-top:10%;
	margin-left:36%;
	
	
}

table {
    color: black;
    background: #fff;
    border: 1px solid #b4b4b4;
    font: bold 17px helvetica;
    padding: 0;
    margin-top:10px;
    width: 100%;
    -webkit-border-radius: 8px;
}
     
table tr td {
    color: #666;
    border-bottom: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    padding: 10px 10px 10px 10px;
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
}
         
table tr td:last-child {
    border-right: none;
}

table tr:last-child td {
    border-bottom: none;
}
.leads-container {
	background: #F5F5F5;
	padding: 25px;
	
}

.results-title {
	font-size: 16pt;

	color: #252525;
}

.results-legend {

	
	font-size: 12pt;
	font-family: Garamond;
	
}

.results-link {
	font-size: 12pt;

	color: #1f53ac;
	text-decoration: underline;
}

.search-input{
	height: 19px;
	font-size: 10pt;
	
	color: #959595;
	
}
.search-button{
	vertical-align:top;
  width: 25px;
  height: 25px;
  border: none;
  background: #000;
  background-image: url('../images/searchIcon.png');
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 0 0 0 0;
}

.search-button-clear{
	background: darkgrey;
}

.view-calendar-button{
	margin-left: 183px;
	border: 1px solid #959595;
	background: lightgrey;
	font-size: 10pt;
	
}
.widget-container {
    margin: 0 auto; 
    background:none;
    border-radius: 2px;
    padding:0;
    width:auto;
}
.results-container {
    padding: 0 20px;
    overflow:scroll;
    background: #F8F9FA;
}
.form-container {
    
    background: none;
    padding: 0 20px 20px;
    margin:0;
    border-bottom: 2px solid #ddd;
    overflow: hidden;
    position: relative;
}
.search-input, select {
    border-radius: 3px 0 0 3px;
    border: 1px solid #bbb;
    border-right: none;
    padding: 6px;
    background: #F5F7F8;
    display: inline-block;
    width: 80%;
	max-width: 300px;
	-webkit-appearance:none;
	font-size: 100%;
	margin: 0;
	box-sizing: border-box;
	-moz-box-sizing:border-box;
	height: 33px;
}
.search-combo, .select-input {
    white-space: nowrap;
}
.search-button {
    background-position: center;
    white-space: nowrap;
    top: 4px;
    width: 40px;
    height: 33px;
    padding: 6px;
    border: 1px solid #bbb;
    border-radius: 0 3px 3px 0;
}
.input-with-button {
    display: inline-block;
}
.input-with-button .search-input {
    border-radius: 3px 0 0 3px;
    border-right:none;
    padding-right:1px;
}
#trade-events-calendar{
	padding: 10px 20px;
}